<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../styles/admin-layout.css" rel="stylesheet">

    <!-- Custom styles for this template -->


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

      <!-- App JS -->
    <script type="text/javascript" src="/scripts/admin.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
      <h1 class="header">Decision Maker</h1>
    </nav>

 <!-- Page-specific (main) content here -->
    <div class="container">
      <article class="Poll-container">
        <header class="Poll">

        </header>
        <span class= "Poll-descrip">
          <h3 id="title">What Movie should we see next Friday?</h3>
          <h6 class ="TitleDescription">Dont want another boring movie!!!</h6>
        </span>
          <ul class = "poll-list">
            <li class = "item1">Wonder Woman </li>
              <p>Description</p>
              <button class= "edit" type="Edit">Edit</button>
              <button class= "delete" type="Delete">Delete</button>
                <textarea class="item-title" name="text" placeholder="Item"></textarea>
                <textarea class="item-descrip" name="text" placeholder="Description"></textarea>
                <input type="submit" value="Save">
            <li class = "item2">Guardians of Galaxy</li>
              <p>Description</p>
              <button class= "edit" type="Edit">Edit</button>
              <button class= "delete" type="Delete">Delete</button>
                <textarea class="item-title" name="text" placeholder="Item"></textarea>
                <textarea class="item-descrip" name="text" placeholder="Description"></textarea>
                <input type="submit" value="Save">
            <li class= "item3">Spiderman</li>
              <p>Description</p>
              <button class= "edit" type="Edit">Edit</button>
              <button class= "delete" type="Delete">Delete</button>
                <textarea class="item-title" name="text" placeholder="Item"></textarea>
                <textarea class="item-descrip" name="text" placeholder="Description"></textarea>
                <input type="submit" value="Save">
           </ul>
            <button id ="create-new" type="New">New</button>
              <textarea class="item-title" name="text" placeholder="Item"></textarea>
              <textarea class="item-descrip" name="text" placeholder="Description"></textarea>
              <input type="submit" value="Save">
            </article>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
