<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Starter Template for Bootstrap</title>

    <!-- Custom styles for this template -->
  <link href="../styles/index-layout.css" rel="stylesheet">

   <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- App JS -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <nav id="nav-bar">
        <h1 class="header">Decision Maker</h1>
    </nav>
</head>

<body>

    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12 text-center">
    <span class="Poll-descrip">
        <h6 class ="Description">Trying to decide what to do on a Friday night? Too many indecesive friends?<br> Look no further!
            Just  enter the following details, your and you are good to go!!!!</br></h6>
    </span>
    <form method="POST" action="/api/index/new">
        <section class="title">
            <div class="Question"><b>Question Text</b></div>
            <textarea class="question-title" name="title" placeholder="Enter your question"></textarea>
        </section>
        <ul class = "poll-list">
            <li class = "item1"><b>Option 1</b></li>
            <input class="item-title" name="option1Title" placeholder="Enter your option"/></br>
            <textarea class="item-descrip" name="option1description" placeholder="Optional: Enter a description of your option"></textarea>

            <li class = "item1"><b>Option 2</b></li>
            <input class="item-title" name="option2Title" placeholder="Enter your option"/></br>
            <textarea class="item-descrip" name="option2description" placeholder="Optional: Enter a description of your option"></textarea>

            <li class = "item1"><b>Option 3</b></li>
            <input class="item-title" name="option3Title" placeholder="Enter your option"/></br>
            <textarea class="item-descrip" name="option3description" placeholder="Optional: Enter a description of your option"></textarea>
            <section id="new-op">

            </section>
            </br>
            <button id ="add-item" type="New"><b>+</b></button>
            <button id ="add-item" type="New"><b>-</b></button> <!--I added a remove button as well, might cause conflict,just check -->
        </ul>
            <div><b>Email</div>
            <input class="email" name="email" placeholder="Enter your email"/>
            <button id ="add-item" type="submit"><b>Save and Submit</b></button>

    </form>
    </div>
    </div>
    </div>
    </body>
