<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a New Poll</title>
  </head>

  <body>
  <main class="container">
    <div class= "form-group">
    <form action="/" method="POST">
      <input name="title" type="text" placeholder="Enter Title ">
      <input name="option" type= "text" placeholder="Enter choices">
      <input name="description" type= "text" placeholder="Enter a description for your choices">
      <input name="email" type="email" placeholder="Enter email here">
      <button class="btn btn-default"" type="submit">Submit</button>
    </form>
    </div>
  </main>
  </body>
</html>