<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Starter Template for Bootstrap</title>

    <!-- Custom styles for this template -->
    <link href="./index-layout.css" rel="stylesheet">

    <!-- App JS -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <nav id="nav-bar">
        <h1 class="header">Decision Maker</h1>
    </nav>
</head>

<body>
    <span class="Poll-descrip">
        <h6 class ="Description">Trying to decide what to do on a Friday night? Too many indecesive friends? Look no further!
            Just  enter the following details, and you are good to go!!!!</h6>
    </span>
    <form method="POST" action="/api/index/new">
        <section class="title">
            <div class="Question"><b>Question Text</b></div>
            <input class="question-title" name="title" placeholder="Title"/></br>
            <textarea class="question-description" name="titleDesc" placeholder="Enter your question"></textarea>
        </section>
        <ul class = "poll-list">
            <li class = "item1">Option</li>
            <input class="item-title" name="option1Title" placeholder="Enter your option"/></br>
            <textarea class="item-descrip" name="option1description" placeholder="Optional: Enter a description of your option"></textarea>
            
            <li class = "item1">Option</li>
            <input class="item-title" name="option2Title" placeholder="Enter your option"/></br>
            <textarea class="item-descrip" name="option2description" placeholder="Optional: Enter a description of your option"></textarea>
            
            <li class = "item1">Option</li>
            <input class="item-title" name="option3Title" placeholder="Enter your option"/></br>
            <textarea class="item-descrip" name="option3description" placeholder="Optional: Enter a description of your option"></textarea>
            <section id="new-op">

            </section>
            </br>
            <button id ="add-item" type="New">Add option</button>
        </ul>
            <input class="email" name="email" placeholder="Enter your email"/>
            <button id ="add-item" type="New">Add option</button>

    </form>
    </body>