<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vote on a Poll</title>
    <% include partials/_header %>
  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <div class="container vote">
      <h4 class="choices">Rank your choices, from most to least preferred</h4>

      </ol>
      <div>
        <form id="voteForm" action="/users" method="POST" class="form-horizontal">
          <button class="btn btn-danger butt" type="submit">Submit Vote</button>
        </form>
      <div class="container-fluid thankyou hide" id="thankyou">
        <h4>Thanks for your vote!</h4>
      </div>
     </div>
    </div>
  </body>
</html>


<!--<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #draggable { width: 150px; height: 150px; padding: 0.5em; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#draggable" ).draggable();
  } );
  </script>
</head>
<body>

<div id="draggable" class="ui-widget-content">
  <p>Drag me around</p>
</div>


</body>
</html>