/* main layout */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;  /* #eee */
  font-family: 'Roboto Condensed', sans-serif;
}

main {
    margin: 0 auto; /* to push it down otherwise you wont see it because the header and logo is fixed */
    width: 450px;
    border: 3px ;
    padding: 19px;
    padding-bottom: 140px;
    padding-top: 140px;
    background-color: #FFFFFF;
    position: inherit;
}

/* navigator bar css */

#nav-bar {
  position: fixed;
  height: 80px;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 2em;
  z-index:1000;
  display: block;
  background-color: #0081a0;
}


#nav-bar h1.header {
  font-size: 2em;  /* 2em is the same as 2X the font */
  line-height: 80px;
  padding-left: 10px;
  margin: 10px;
  color: #e8fdff;
  height: 70px;
  margin: 0 10px;
 text-align:center;
}

/* new polls css */

article.container{

}

article.Poll-container {
  border: 2px gray solid;
  border-radius: 7px;
  top: 10px;
  margin: 10px 0;
  padding: 100px;
}


header.Poll h3 {
  margin: 0;
  float: left;
  padding-top: 100px;

}

span.Poll-descrip h6{
  padding-top: 150px;
  margin: 0;
}

ul.poll-list li.item1{

  height: 75px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
}
ul.poll-list li.item2{

  height: 75px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
}
ul.poll-list li.item3{

  height: 75px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
}

form.form-content textarea.item-title{
  display: block;
  width: 100%;
}

form.form-content textarea.item-decrip{
  display: block;
  width: 100%;
}

article.Poll-container button.create-new {
  border-radius: 7px;
  border: 2px black solid;
  opacity:0.4;
  display: inline;
  margin-top: 5px;
  font-size: large;
}

 article.Poll-container button.create-new:hover {
  opacity:1;
  color:black;
}





