  /* main layout */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 !important;
  color: #244751 !important;
  background-color: aliceblue !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

main {
    margin: 0 auto;
    width: 450px;
    border: 3px ;
    padding: 19px;
    padding-bottom: 140px;
    padding-top: 140px;
    background-color: #FFFFFF;
    position: inherit;
}

/* navigator bar css */

#nav-bar {
  position: fixed;
  height: 80px;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 2em;
  z-index:1000;
  display: block;
  background-color: #0081a0;
}


#nav-bar h1.header {
  font-size: 300%;
  line-height: 80px;
  padding-left: 10px;
  margin: 10px;
  color: #e8fdff;
  height: 70px;
  margin: 0 10px;
 text-align:center;
}

h3#title {
  padding-top: 80px;
  font-size: xx-large;
  text-align: center
  color: #385473;
}

span.Poll-descrip h6{
  font-size: large;
  color: #385473;
}

ul.poll-list li.item1{
  height: 75px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  font-size: x-large;
  color: #385473;
}

ul.poll-list li.item2{
  height: 75px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  font-size: x-large;
  color: #385473;
}

ul.poll-list li.item3{
  height: 75px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  font-size: x-large;
  color: #385473;
}

 textarea.item-title{
  margin: 0px;
  width: 550px;
  padding: 10px;
  font-size: 14px;
  border-radius: 7px;
}

 textarea.item-descrip{
  margin: 0px;
  width: 550px;
  padding: 10px;
  font-size: 14px;
  border-radius: 7px;
}

button.edit{
  border-radius: 7px;
  border: 2px black solid;
  display: inline;
  margin-top: 5px;
}

button.delete{
  border-radius: 7px;
  border: 2px black solid;
  display: inline;
  margin-top: 5px;
}

ul.poll-list input{
border-radius: 7px;
  border: 2px black solid;
  display: inline;
  margin-top: 5px;
}

button#create-new {
  border-radius: 7px;
  border: 2px black solid;
  display: inline;
  margin-top: 5px;
  margin-left: 40px;
}

input[type='submit']{
  border-radius: 7px;
  border: 2px black solid;
  display: inline;
  margin-top: 5px;
}

ul{
  list-style: none;
}

div.new {
  padding-left:40px;
}


